<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 以下為banner -->

    <div class="indexBanner d-flex align-items-center" style="background: rgba(0, 0, 0, 0.4); background-blend-mode: multiply; background-image: url(../assets/images/HikeMateBanner.png); background-repeat: no-repeat; background-size: cover; background-position: center;">
    
      <div class="w-50 container text-center">
        <div>
          <h2 class="BannerTextH1">登山視界揪友趣</h2>
        </div>  
        <div class="Bannersearch-bar mx-auto">
          <input type="text" class="form-control text-gray200" placeholder="出團山道 關鍵字 搜尋">
        </div>
        <div class="buttons">
          <button class="btn btn-green300 mx-2">瀑布</button>
          <button class="btn btn-green300 mx-2">日出</button>
          <button class="btn btn-green300 mx-2">吊橋</button>
          <button class="btn btn-green300 mx-2">雲海</button>
        </div>        
      </div>  

    </div>
    <!-- 以上為banner -->


    <!-- 以下為熱烈揪團中 -->

    <div class="joto">
      <div class="container">
        <h3 class="joto-title">熱烈揪團中</h3>
        <div class="d-flex justify-content-center jotocard row gx-5 gy-5">
          <div class="card col-3 jotocardgutter"><!-- 卡片1奇萊南華百岳探險 -->
            
              <div class="image" style="position: relative; background-image: url(../assets/images/奇萊南華百岳探險.png);border-radius: 4px 4px 0px 0px;">
                  <div class="d-flex" style="width: 88px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                    <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="oscar"><p style="font-size: 16px;line-height: 24px;width: 500px;">Oscar</p>
                  </div>
                </div>

                  <div class="jotocardtext">
                    <div class="jotocardtags">
                      <button class="btn btn-primary">高山</button>
                      <button class="btn btn-green700">多日登山</button>
                    </div>
                    <h4>奇萊南華 百岳探險</h4>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/11/12 ~ 2024/11/13</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">高雄(出發)</p>
                    </div>
                    <button class="jotocardbnt"><a href="#">報團</a></button>
                  </div>             
             
              
          </div>
          <div class="card col-3 jotocardgutter"><!-- 卡片2高島縱走 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/Mateshare高島縱走.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 144px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="阿豪"><p style="font-size: 16px;line-height: 24px;width: 500px;">高山嚮導 阿豪</p>
                </div>
            </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-green600">中級山</button>
                    <button class="btn btn-gray200">一日登山</button>
                  </div>
                  <h4>高島縱走</h4>
                  
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/11/14</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">苗栗(出發)</p>
                    </div>    
                  
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
          <div class="card col-3 jotocardgutter"><!-- 卡片3埔里六秀守城大山 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/埔里六秀守城大山.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 144px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="阿強"><p style="font-size: 16px;line-height: 24px;width: 500px;">極限挑戰 阿強</p>
                </div>
              </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-green600">中級山</button>
                    <button class="btn btn-green700">多日登山</button>
                  </div>
                  <h4>埔里六秀 守城大山</h4>
                  
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/09/14 ~ 2024/09/15</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">台中(出發)</p>
                    </div>    
                  
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
          <div class="card col-3 jotocardgutter" style="margin-right: 0px"><!-- 卡片4百岳入門雪山東峰探險 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/百岳入門雪山東峰探險.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 88px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="Alex"><p style="font-size: 16px;line-height: 24px;width: 500px;">Alex</p>
                </div>
              </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-primary">高山</button>
                    <button class="btn btn-green700">多日登山</button>
                  </div>
                  <h4>百岳入門 雪山東峰探險</h4>
                  
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/10/12 ~ 2024/10/13</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">雙北(出發)</p>
                    </div>    
                  
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
          <div class="card col-3 jotocardgutter"><!-- 卡片5霞喀羅古道賞楓 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/霞喀羅古道賞楓.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 88px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="逐客"><p style="font-size: 16px;line-height: 24px;width: 500px;">逐客</p>
                </div>
              </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-primary">高山</button>
                    <button class="btn btn-gray200">一日登山</button>
                    <button class="btn btn-brown200">季節限定</button>
                  </div>
                  <h4>霞喀羅古道賞楓</h4>
                  <div class="d-flex">
                    <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/12/11</p>
                  </div>
                  <div class="d-flex">
                    <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">新竹(出發)</p>
                  </div>
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
          <div class="card col-3 jotocardgutter"><!-- 卡片6台灣富士山加里山探險 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/台灣富士山加里山探險.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 88px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="逐客"><p style="font-size: 16px;line-height: 24px;width: 500px;">逐客</p>
                </div>
              </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-green600">中級山</button>
                    <button class="btn btn-gray200">一日登山</button>
                  </div>
                  <h4>台灣富士山 加里山探險</h4>
                  <div class="d-flex">
                    <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/10/29</p>
                  </div>
                  <div class="d-flex">
                    <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">新竹(出發)</p>
                  </div>
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
          <div class="card col-3 jotocardgutter"><!-- 卡片7阿朗壹浸水營古道探險 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/阿朗壹浸水營古道探險.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 88px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="Ella"><p style="font-size: 16px;line-height: 24px;width: 500px;">Ella</p>
                </div>
              </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-primary">高山</button>
                    <button class="btn btn-gray200">一日登山</button>
                  </div>
                  <h4>阿朗壹 浸水營古道探險</h4>
                  <div class="d-flex">
                    <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/12/11</p>
                  </div>
                  <div class="d-flex">
                    <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">新竹(出發)</p>
                  </div>
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
          <div class="card col-3 jotocardgutter" style="margin-right: 0px"><!-- 卡片8陽明山溫泉健行 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/陽明山溫泉健行.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 88px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="Hana"><p style="font-size: 16px;line-height: 24px;width: 500px;">Hana</p>
                </div>
              </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-green800">郊山</button>
                    <button class="btn btn-gray200">一日登山</button>
                  </div>
                  <h4>陽明山溫泉健行</h4>
                  
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/10/18</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">雙北
                      (出發)</p>
                    </div>    
                  
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>

        <!--熱烈揪團 查看更多-->
        <button class="jotoBtn btn btn-primary" style="margin-top: 72px;width: 176px;height: 60px;"><a href="#" style="font-size: 24px;line-height: 28.8px;width: 700;">查看更多<img class="mb-1" style="margin-left: 10.5px;" src="../assets/images/rightarrow-13.5.svg" alt="行事曆"></a></button>        
                    
       
        </div>
      </div>
    </div>
        
    <!-- 以上為熱烈揪團中 -->


<!-- 以下為痛點及優勢區塊 -->
<div class="pain-points">
  <div class="container">
    <h3 class="point-title"><span style="color: rgba(68, 81, 60, 1);">HikeMate</span> 您的專屬登山夥伴</h3>
    <p class="point-subtit">您是否遇到以下問題？</p>
    <ul class="point-item">
      <li class="point-icon"><img src="../assets/images/無合適登山夥伴.svg" alt="無合適登山夥伴" width="224px" height="224px"><div class="point-text"><p class="pain-points-main">找不到合適的登山夥伴</p><p class="pain-points-subScri">想要找人一起登山,<br>但身邊的朋友不是太忙就是興趣不合。</p></div></li>
      <li class="point-icon"><img src="../assets/images/缺乏可靠登山資訊.svg" alt="缺乏可靠登山資訊" width="224px" height="224px"><div class="point-text"><p class="pain-points-main">缺乏可靠的登山資訊</p><p class="pain-points-subScri">網上資訊繁雜,<br>難以找到真實可靠的登山路線和經驗分享。</p></div></li>
      <li class="point-icon"><img src="../assets/images/沒有山友獨家社群.svg" alt="沒有山友獨家社群" width="224px" height="224px"><div class="point-text"><p class="pain-points-main">沒有山友的獨家社群</p><p class="pain-points-subScri">登山過程中的美景和挑戰,<br>無法與更多志同道合的人分享。</p></div></li>
    </ul>
      
    </div>
  </div>
</div>
<div class="advantages">
  <div class="container">
    <h3 class="point-title"><span style="color: rgba(68, 81, 60, 1);">HikeMate</span> 幫您解決這些問題</h3>
    <ul class="advantages-cards">
      <li class="advantages-card"><img src="../assets/images/快速揪團.svg" alt="快速揪團" width="224px" height="224px"><p class="advantages-scri">快速揪團</p></li>
      <li class="advantages-card"><img src="../assets/images/可靠的登山訊息.svg" alt="可靠的登山訊息" width="224px" height="224px"><p class="advantages-scri">可靠的登山訊息</p></li>
      <li class="advantages-card"><img src="../assets/images/透明的夥伴資訊.svg" alt="透明的夥伴資訊" width="224px" height="224px"><p class="advantages-scri">透明的夥伴資訊</p></li>
      <li class="advantages-card"><img src="../assets/images/分享美好的瞬間.svg" alt="分享美好的瞬間" width="224px" height="224px"><p class="advantages-scri">分享美好的瞬間</p></li>
    </ul>
    <div class="advantages-navbar">
      <p class="advantages-navbar-scri">加入 HikeMate,享受純粹、專業的登山體驗!</p>
      <div class="advantages-btn"><a href="#">我要揪團</a></div>
      <div class="advantages-btn join-btn"><a href="#">我要跟團</a></div>
    </div>
  </div>
</div>

<!-- 以上為痛點及優勢區塊 -->

    <!-- 山道景點 -->
    <div class=" bg-green200 d-flex align-items-center position-relative mx-auto" style=" height:816px;" > <!-- 底色 -->
      <div class="container d-flex   mx-auto"> 
      <div class=" " style="width: 748px; height:576px;"> <!-- 左邊透明方塊 -->
  
        <div class="d-flex bg-primary " style="width: 748px; height: 396px;"> <!-- 左邊主色方塊 -->
          <div class="d-flex" style="width: 312px; height: 396px;"></div> <!-- 左邊主色方塊的左邊透明空間 -->
          <div class="d-flex flex-column mt-5 d-grid gap-3" style="width: 412px; height: 396px;">
            <div class="d-grid gap-3">
              <div class="text-white fs-1">山道景點</div>
              <div class="text-white h4">編輯精選最熱門景點報你知</div>
            </div>
  
            <div class="d-flex text-white h4 mt-4 position-relative">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
              </svg> 
              <div class=" ms-2 mt-1">北</div>
              <div class="bg-gray200 d-flex align-self-center ms-3 me-2 " style="width: 80px; height: 4px;">
                <div class="bg-green400 d-flex align-self-center position-absolute" style="width: 47px; height: 4px;"></div>
              </div>
                
              <div class=" ms-2 me-2 mt-1">中</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
              </svg> 
  
            </div>
            <div class="d-flex text-white border border-2 mt-4" style="width:120px; height: 40px;">
              <div class="ms-2 mt-1">查看更多</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="mt-1 ms-2 bi bi-arrow-right" viewBox="4 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg>
            </div>
  
          </div>
        </div> 
      </div> 
        <!-- 山道景點卡片外框 -->
        <div class="position-absolute d-flex align-items-center" style="gap:36px; margin-left: 601px; width:1532px; height: 576px;">
          
          <!-- 山道卡片1 --------------------------------------------------------------------------------------------->
  
          <div class="bg-white position-relative shadow" style="margin-left: 64px; width:324px; height: 380px;">
            <!-- 山道卡片圖片1 -->
            <img class="" src="../assets/images/group-friends-having-fun-taking-selfies-nature 1.png" alt="view">
            <!-- 山道卡片Flag -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 end-0 " style="margin-right:56px; width:56px; height: 64px;">
              <img class="" src="../assets/images/Flag.svg" alt="flag" style="width:32px; height: 32px;">
            </div>
             <!-- 山道卡片Heart -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 end-0 " style=" width:56px; height: 64px;">
              <img class="" src="../assets/images/HeartFill 2.svg" alt="flag" style="width:32px; height: 32px;">
            </div>
             <!-- 查看更多 -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 start-0 border border-1 text-white rounded-1" style="margin:90px 0 0 104px; width:116px; height: 40px;">查看更多
              <img class="" src="../assets/images/Keyboard arrow right.svg" alt="arrow right">
            </div>
  
            <!-- 山道景點屬性 -->
            <div class=" d-flex text-white gap-2" style="margin: 24px 0 0 24px; width:276px; height: 32px;">
              <div class="bg-primary rounded-1" style="width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">高山
                </div>
              </div>
              <div class="bg-primary rounded-1" style="font-size:12px; width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">多日登山        
                </div>
              </div>
              <div class="bg-primary rounded-1" style="font-size:12px; width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">自然步道         
                </div>
              </div>
            </div>
            <!-- 山道景點資訊 -->
            <div class=" " style="margin: 16px 0 0 24px; width:276px; height: 64px;">
              <div class=" h4 fw-bold" style="width:276px; height: 28px;">奇萊南華 百岳探險
  
              </div>
              <div class=" fw-bold" style="margin-top:12px; width:276px; height: 28px;"> 
                <img class="mb-1" src="..\assets\images\Location on.svg" alt="">高雄(出發)
              </div>
  
            </div>
          </div>
          
          
          <!-- 山道卡片2 --------------------------------------------------------------------------------------------->
  
          <div class="bg-white position-relative shadow" style=" width:324px; height: 380px;">
            <!-- 山道卡片圖片2 -->
            <img class="" src="../assets/images/group-friends-having-fun-taking-selfies-nature 2.png" alt="view">
            <!-- 山道卡片Flag -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 end-0 " style="margin-right:56px; width:56px; height: 64px;">
              <img class="" src="../assets/images/Flag 2.svg" alt="flag" style="width:32px; height: 32px;">
            </div>
             <!-- 山道卡片Heart -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 end-0 " style=" width:56px; height: 64px;">
              <img class="" src="../assets/images/HeartFill 2.svg" alt="flag" style="width:32px; height: 32px;">
            </div>
            <!-- 山道景點屬性 -->
            <div class=" d-flex text-white gap-2" style="margin: 24px 0 0 24px; width:276px; height: 32px;">
              <div class="bg-primary rounded-1" style="width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">高山              
                </div>
              </div>
              <div class="bg-primary rounded-1" style="font-size:12px; width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">多日登山              
                </div>
              </div>
              <div class="bg-primary rounded-1" style="font-size:12px; width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">自然步道              
                </div>
              </div>
            </div>
            <!-- 山道景點資訊 -->
            <div class=" " style="margin: 16px 0 0 24px; width:276px; height: 64px;">
              <div class=" h4 fw-bold" style="width:276px; height: 28px;">見情懷古步道
              </div>
              <div class=" fw-bold" style="margin-top:12px; width:276px; height: 28px;"> 
                <img class="mb-1" src="..\assets\images\Location on.svg" alt="">宜蘭縣大同鄉
              </div>
            </div>
          </div>
  
          <!-- 山道卡片3 --------------------------------------------------------------------------------------------->
  
          <div class="bg-white position-relative shadow" style=" width:324px; height: 380px;">
            <!-- 山道卡片圖片3 -->
            <img class="" src="../assets/images/group-friends-having-fun-taking-selfies-nature 3.png" alt="view">
            <!-- 山道卡片Flag -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 end-0 " style="margin-right:56px; width:56px; height: 64px;">
              <img class="" src="../assets/images/Flag.svg" alt="flag" style="width:32px; height: 32px;">
            </div>
             <!-- 山道卡片Heart -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 end-0 " style=" width:56px; height: 64px;">
              <img class="" src="../assets/images/HeartFill.svg" alt="flag" style="width:32px; height: 32px;">
            </div>
            <!-- 山道景點屬性 -->
            <div class=" d-flex text-white gap-2" style="margin: 24px 0 0 24px; width:276px; height: 32px;">
              <div class="bg-primary rounded-1" style="width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">高山              
                </div>
              </div>
              <div class="bg-primary rounded-1" style="font-size:12px; width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">多日登山              
                </div>
              </div>
              <div class="bg-primary rounded-1" style="font-size:12px; width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">自然步道              
                </div>
              </div>
            </div>
            <!-- 山道景點資訊 -->
            <div class=" " style="margin: 16px 0 0 24px; width:276px; height: 64px;">
              <div class=" h4 fw-bold" style="width:276px; height: 28px;">新寮瀑布步道
              </div>
              <div class=" fw-bold" style="margin-top:12px; width:276px; height: 28px;"> 
                <img class="mb-1" src="..\assets\images\Location on.svg" alt="">新寮瀑布步道
              </div>
            </div>
          </div>
  
          <!-- 山道卡片4 --------------------------------------------------------------------------------------------->
  
          <div class="bg-white position-relative shadow" style=" width:324px; height: 380px;">
            <!-- 山道卡片圖片4 -->
            <img class="" src="../assets/images/group-friends-having-fun-taking-selfies-nature 4.png" alt="view">
            <!-- 山道卡片Flag -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 end-0 " style="margin-right:56px; width:56px; height: 64px;">
              <img class="" src="../assets/images/Flag 2.svg" alt="flag" style="width:32px; height: 32px;">
            </div>
             <!-- 山道卡片Heart -->
            <div class="d-flex align-items-center justify-content-center  position-absolute top-0 end-0 " style=" width:56px; height: 64px;">
              <img class="" src="../assets/images/HeartFill.svg" alt="flag" style="width:32px; height: 32px;">
            </div>
            <!-- 山道景點屬性 -->
            <div class=" d-flex text-white gap-2" style="margin: 24px 0 0 24px; width:276px; height: 32px;">
              <div class="bg-primary rounded-1" style="width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">高山              
                </div>
              </div>
              <div class="bg-primary rounded-1" style="font-size:12px; width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">多日登山              
                </div>
              </div>
              <div class="bg-primary rounded-1" style="font-size:12px; width:72px; height: 32px;">
                <div class=" text-center" style="margin: 4px 0 0 12px; font-size:12px; width:48px; height: 24px;">自然步道              
                </div>
              </div>
            </div>
            <!-- 山道景點資訊 -->
            <div class=" " style="margin: 16px 0 0 24px; width:276px; height: 64px;">
              <div class=" h4 fw-bold" style="width:276px; height: 28px;">能高越嶺道-西段
              </div>
              <div class=" fw-bold" style="margin-top:12px; width:276px; height: 28px;"> 
                <img class="mb-1" src="..\assets\images\Location on.svg" alt="">南投縣仁愛鄉
              </div>
            </div>
          </div>
          
  
        </div> 
      </div>
      </div> 



      <!-- 以下為Mateshare還未完成明天繼續 -->

    <div class="mateshare">
      <div class="container">
        <h3 class="mateshare-title"><span style="color: rgba(68, 81, 60, 1);">HikeMate</span> Share</h3>
        <div class="d-flex justify-content-center jotocard row gx-5 gy-5">
          <div class="card col-3 jotocardgutter"><!-- 卡片1奇萊南華百岳探險 -->
            
              <div class="image" style="position: relative; background-image: url(../assets/images/奇萊南華百岳探險.png);border-radius: 4px 4px 0px 0px;">
                  <div class="d-flex" style="width: 88px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                    <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="oscar"><p style="font-size: 16px;line-height: 24px;width: 500px;">Oscar</p>
                  </div>
                </div>

                  <div class="jotocardtext">
                    <div class="jotocardtags">
                      <button class="btn btn-primary">高山</button>
                      <button class="btn btn-green700">多日登山</button>
                    </div>
                    <h4>奇萊南華 百岳探險</h4>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/11/12 ~ 2024/11/13</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">高雄(出發)</p>
                    </div>
                    <button class="jotocardbnt"><a href="#">報團</a></button>
                  </div>             
             
              
          </div>
          <div class="card col-3 jotocardgutter"><!-- 卡片2高島縱走 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/Mateshare高島縱走.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 144px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="阿豪"><p style="font-size: 16px;line-height: 24px;width: 500px;">高山嚮導 阿豪</p>
                </div>
            </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-green600">中級山</button>
                    <button class="btn btn-gray200">一日登山</button>
                  </div>
                  <h4>高島縱走</h4>
                  
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/11/14</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">苗栗(出發)</p>
                    </div>    
                  
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
          <div class="card col-3 jotocardgutter"><!-- 卡片3埔里六秀守城大山 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/埔里六秀守城大山.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 144px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="阿強"><p style="font-size: 16px;line-height: 24px;width: 500px;">極限挑戰 阿強</p>
                </div>
              </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-green600">中級山</button>
                    <button class="btn btn-green700">多日登山</button>
                  </div>
                  <h4>埔里六秀 守城大山</h4>
                  
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/09/14 ~ 2024/09/15</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">台中(出發)</p>
                    </div>    
                  
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
          <div class="card col-3 jotocardgutter" style="margin-right: 0px"><!-- 卡片4百岳入門雪山東峰探險 -->
            
            <div class="image" style="position: relative; background-image: url(../assets/images/百岳入門雪山東峰探險.png);border-radius: 4px 4px 0px 0px;">
                <div class="d-flex" style="width: 88px;height: 32px;padding: 4px 8px; background-color: rgba(255, 255, 255, 0.72); border-radius: 4px;position: absolute; bottom: 12px; left: 12px;">
                  <img style="width: 20px; height: 20px; margin-right: 8px;" src="../assets/images/Oser.svg" alt="Alex"><p style="font-size: 16px;line-height: 24px;width: 500px;">Alex</p>
                </div>
              </div>

                <div class="jotocardtext">
                  <div class="jotocardtags">
                    <button class="btn btn-primary">高山</button>
                    <button class="btn btn-green700">多日登山</button>
                  </div>
                  <h4>百岳入門 雪山東峰探險</h4>
                  
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/calendar.svg" alt="行事曆"><p class="jotocarddate">2024/10/12 ~ 2024/10/13</p>
                    </div>
                    <div class="d-flex">
                      <img class="mb-1" style="margin-right: 4px;" src="../assets/images/coordinates.svg" alt="座標"><p class="jotocarddate">雙北(出發)</p>
                    </div>    
                  
                  <button class="jotocardbnt"><a href="#">報團</a></button>
                </div>             
           
            
          </div>
                                
       
        </div>
      </div>
    </div>
        
    <!-- 以上為Mateshare -->
  




 

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
